body {
    font-family: Sans-Serif;
    background-color: Black;
    color: White;
}

span {
    display: inline-block;
    font-size: x-large;
    font-weight: bold;
    padding: 6px;
    margin: 6px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -khtml-border-radius: 4px;
}

.cursor 
{
    color: #F00;
    font-size: xx-large;
    font-weight: bold;
    border: 0;
    padding: 0;
    margin: 0;
}

.list {
    background: #333;
}

.list .list 
{
    background: #555;
}

.list .list .list 
{
    background: #333;
}

.list .list .list .list 
{
    background: #555;
}

.list .list .list .list .list 
{
    background: #333;
}

.primitive
{
    color: #0A0;
}

.secondary
{
    color: #00F;
}

.number 
{
    color: #999;
}

.string 
{
    color: #FF0;
}

.boolean
{
    color: #F0F;
}

.unknown
{
    color: #F00;
}

.complete
{
    color: #888;
    border: 0;
    padding: 0;
    margin: 0;
}

.selected
{
    background: #00F;
    padding: 0px;
    margin: 0px;
    border: 0;
}

#output, #dictionary
{
    color: #DDD;
}